<div class="cards">
    <div class="card satu">
        <div class="box">
            <h1>50</h1>
            <h3></h3>
        </div>
        <div class="icon">
            <i class="fas fa-money-bill-alt"></i>         
        </div>
    </div>
    <div class="card dua">
        <div class="box">
            <h1>50</h1>
            <h3></h3>
        </div>
        <div class="icon">
            <i class="fas fa-cog"></i>        
        </div>
    </div>
    <div class="card tiga">
        <div class="box">
            <h1>50</h1>
            <h3></h3>
        </div>
        <div class="icon">
            <i class="fas fa-hands-helping"></i>         
        </div>
    </div>
    <div class="card empat">
        <div class="box">
            <h1>50</h1>
            <h3></h3>
        </div>
        <div class="icon">
            <i class="fa-solid fa-hand-holding-dollar"></i>         
        </div>
    </div>
</div>