<div class="header">
    <div class="nav">
        <div class="search">
            <input type="text" name="" id="" placeholder="pencarian...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="user">
            <a href="" class="btn"><i class="fa-solid fa-plus"></i></a>
            <a href="#" class="btn"><i class="fa-regular fa-bell"></i></a>
            <a href="#" class="btn"><i class="fa-solid fa-user-tie"></i></a>
        </div>
    </div>
</div>