{% load humanize %}
<div class="payments">
    <div class="title">
        <h3>Neraca</h3>
        <div class="ikon">
            <button onabort="printPDF()" class="pdf">
                <i class="fas fa-file-pdf"></i>
            </button>
            <i class="fas fa-file-excel"></i>
        </div>
    </div>
    <table>
        <thead>
            <tr class="title-table">
                <th>Akun</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <!-- Pendapatan -->
            {% for akun, data in ledgers_aktiva.items %}
            <tr>
                <td>{{ akun }}</td>
                <td>Rp.{{ data.balance |intcomma }}</td>
            </tr>
            {% endfor %}
            <tr class="title-table">
                <td>Total Aktiva</td>
                <td>Rp.{{ total_aktiva|intcomma }}</td>
            </tr>
        
            <!-- Beban -->
            {% for akun, data in ledgers_passiva.items %}
            <tr>
                <td>{{ akun }}</td>
                <td>Rp.{{ data.balance|intcomma }}</td>
            </tr>
            {% endfor %}
            
            <!-- Laba Rugi -->
            <tr>
                <td>Laba Ditahan</td>
                <td>Rp.{{ neraca|intcomma }}</td>
            </tr>

            <tr class="title-table">
                <td>Total Passiva</td>
                <td>Rp.{{ total_aktiva|intcomma }}</td>
            </tr>
        </tbody>
        
    </table>
</div>
